<!-- Extends base.html -->
{% extends 'TweetUtils/base.html'%}

<!-- load static files -->
{% load staticfiles %}

<!-- css links -->
{% block cssLinks %}

<!-- end csslinks -->
{% endblock cssLinks %}

<!-- body block -->
{% block body %}


<div class="row" style="min-height: 100px">
    <div class=" col-md-4 col-md-offset-4 ">
        <h1 style="margin-left:100px"><img style="width:60px " src="/static/img/twaster.png " alt=" ">waster</h1>
        <p style="font-family:fantasy; margin-left:60px">Detecting earthquakes from twitter since 2018</p>
    </div>
</div>
<div class="container" style="min-height: 780px">
    <table id="detectedtable" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Record No</th>
                <th>City</th>
                <th>Country</th>
                <th>Detection Time</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for eq in disaster %}
                <td>{{forloop.counter}}</td>
                <td>{{eq.Location__City}}</td>
                <td>{{eq.Location__Country}}</td>
                <td>{{eq.Recod_time}} {{eq.Record_date}}</td>
            </tr>
            {% endfor %}
            </tfoot>

    </table>
    {% if user.is_authenticated %}
    <div style="margin-top:20px" class="col-md-12 text-center">
        <a href="/TweetUtils/detail" style="height:50px; width:250px" onclick="" type="button" class="btn btn-primary">
            <h4>User details</h4>
        </a>
    </div>
    {% endif %}
</div>

<!-- body block end  -->
{% endblock body %}


<!-- script block -->
{% block scripts %}

<script>
    $(document).ready(function() {
        $('#detectedtable').DataTable({
            "order": [
                [1, "desc"]
            ]
        });
    });
</script>

<!-- end scropt blog -->
{% endblock scripts %}